{% extends 'user/base_user_center.html' %}
{% load staticfiles %}
{% block title %}天天生鲜-收货地址{% endblock title %}
{% block right %}
    <div class="right_content clearfix">
				<h3 class="common_title2">收货地址</h3>
				<div class="site_con">
					<dl>
						<dt>当前地址：</dt>
						<dd>{{ adress1.address }} （{{ adress1.receivers }} 收） {{ adress1.phone }}</dd>
					</dl>
				</div>
				<h3 class="common_title2">编辑地址</h3>
				<div class="site_con">
					<form method="post">
                        {% csrf_token %}
						<div class="form_group">
							<label>收件人：</label>
							<input type="text" name="recipients" value="{{ adress1.receivers }}">
						</div>
						<div class="form_group form_group2">
							<label>详细地址：</label>
							<textarea class="site_area" name="adress">{{ adress1.address }}</textarea>
						</div>
						<div class="form_group">
							<label>手机：</label>
							<input type="text" name="phone" value="{{ adress1.phone }}">
						</div>
                        <div class="form_group">
							<label>是否保存为默认地址：</label>
							<input type="checkbox" name="remember_adress">
						</div>

						<input type="submit" name="" value="提交" class="info_submit">
					</form>
				</div>
		</div>
{% endblock right %}

